<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>rest-simple-email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <div id="wrapper">
        <start></start>
    </div>
</body>
<script src="vue.js"></script>
<script src="axios.js"></script>
<script>

    let user_login = {
        email: "",
        password: ""
    }
    
    let token;

    let message = {
        from: "",
        to: "",
        subject: "",
        body: "",
        read: false,
        type: "N"
    }

    let messages = {
        box: '',
        list:[]
    }

    let user_register = {
        name: "",
        email: "",
        password: ""
    }

    let title = {
        text: "simple email"
    }

    Vue.component('login', {
        template: 
            `<div id="login">
                <div class="field">Email: <input name="name" type="text" v-model="data.email"></div>
                <br>
                <div class="field">Senha: <input name="password" type="password" v-model="data.password"></div>
                <br>
                <button onclick="logar()">Logar</button>
                <button onclick="gotostart()">Voltar</button>
            </div>`,
        data: function(){
            return { 
                route: 'login',
                data: user_login
            }
        }
    })

    Vue.component('register', {
        template: 
            `<div id="register">
                <div class="field"> Nome: <input name="name" type="text" v-model="data.name"> </div>
                <br>
                <div class="field"> Email: <input name="name" type="text" v-model="data.email"> </div>
                <br>
                <div class="field"> Senha: <input name="password" type="password" v-model="data.password"> </div>
                <br>
                <button onclick="register()">Cadastrar</button>
                <button onclick="gotostart()">Voltar</button>
            </div>`,
        data: function(){
            return { 
                    route: 'login',
                    data: user_register
                }
        }
    })

    Vue.component('titleemail', {
        props: ['titletxt'],
        template: 
            `<div id="title">
                {{ titletxt }}
            </div>`
    })

    Vue.component('start', {
        template: 
            `<div id="start">
                <titleemail :titletxt=data.text ></titleemail>
                <button onclick="gotoLogin()">Logar</button>
                <button onclick="gotoRegister()">Cadastrar</button>
            </div>`,
        data: function(){
            return {
                route: 'start',
                data: title
            }
        }
    })

    Vue.component('message', {
        template: 
            `<div id="box">
                <menubar></menubar>
                <div id="message" class="left">
                    <div class="bar"">
                        <button onclick="gotoResponse()"> Responder </button>
                        <button onclick="gotoFoward()"> Encaminhar </button>
                    </div>
                    <div class="from"> De: {{data.from}}</div>
                    <div class="to"> Para: {{data.to}}</div>
                    <div class="sub"> Assunto: {{ data.subject }} </div> 
                    <div class="body" style="white-space: pre-line"> Corpo: {{ data.body }} </div> 
                </div>
            </div>`,
        data: function(){
            return { 
                    route: 'message',
                    data: message
                }
        }
    })

    Vue.component('messages', {
        template: 
            `<div id="container-messages" class="left" >
                <titleemail :titletxt=data.box ></titleemail>
                <div class="msg" v-for="msg in data.list">
                    <div v-bind:class="{ read: msg.read }" v-on:dblclick="show(msg)" >
                        <div class="sub left"> {{ msg.subject }} </div> 
                        <div class="from left"> {{msg.from}}</div>
                        <div class="del" v-on:click="del( msg._id )">X</div>
                    </div>
                </div>
            </div>`,
        methods: {
            del: function(id){
                console.log("ID", id)
                deletar(id);
            },
            show: function(msg){
                message.from = msg.from
                message.to = msg.to
                message.subject = msg.subject
                message.body = msg.body
                message.read = msg.read
                abrir(msg._id)
                gotoMessage()
            }
        },
        data: function(){
            return { 
                    route: 'messages',
                    data: messages
                }
        }
    })

    Vue.component('menubar', {
        template: 
            `<div id="container-menu" class="left">
                <div class="opt-menu" onclick="showBox('inbox')">Inbox</div>
                <div class="opt-menu" onclick="showBox('outbox')">Outbox</div>
                <div class="opt-menu" onclick="gotosend()">Enviar</div>
                <div class="opt-menu" onclick="gotostart()">Logout</div>
            </div>`,
        data: function(){
            return { 
                    route: 'messages',
                    data: messages
                }
        }
    })

    Vue.component('box', {
        template:
            `<div id="box">
                <menubar></menubar>
                <messages></messages>
            </div>
            `,
    })

    Vue.component('response', {
        template:
            `<div id="sender">
                <div class="field"> To: {{ data.to }} </div>
                <br>
                <div class="field"> Mensagem: <textarea name="body" v-model="data.body"></textarea> </div>
                <br>
                <button onclick="send()">Enviar</button>
                <button onclick="box()">Voltar</button>
            </div>
            `,
        data: function(){
            return { 
                    route: 'response',
                    data: message
                }
        }
    })

    Vue.component('foward', {
        template:
            `<div id="sender">
                <div class="field"> To <input name="name" type="text" v-model="data.to"> </div>
                <br>
                <div class="field" style="white-space: pre-line"> Mensagem: {{data.body}} </div>
                <br>
                <button onclick="send()">Enviar</button>
                <button onclick="box()">Voltar</button>
            </div>
            `,
        data: function(){
            return { 
                    route: 'foward',
                    data: message
                }
        }
    })

    Vue.component('sender', {
        template:
            `<div id="sender">
                <div class="field"> To <input name="name" type="text" v-model="data.to"> </div>
                <br>
                <div class="field"> Assunto: <input name="sub" type="text" v-model="data.subject"> </div>
                <br>
                <div class="field"> Mensagem: <textarea name="body"  v-model="data.body"> </textarea></div>
                <br>
                <button onclick="send()">Enviar</button>
                <button onclick="box()">Voltar</button>
            </div>
            `,
        data: function(){
            return { 
                    route: 'sender',
                    data: message
                }
        }
    })

    let App = new Vue({
        el: '#wrapper',
        data: { 
                route: 'start',
                data: ''
            },
        render: function (createElement) {
            return createElement(this.route)
        }
    })


    function logar(){
        const params = new URLSearchParams();
        params.append('email', user_login.email)
        params.append('password', user_login.password)
        
        axios({
            method: 'post',
            url: 'https://rest-simple-email.herokuapp.com/login',
            headers: { 
                'Content-Type': 'application/x-www-form-urlencoded'
                },
            data: params
        }).then( resp =>{
                console.log(resp.data)
                if(resp.data.success == true){
                    token = resp.data.token
                    showBox("inbox")
                }else{
                    alert(resp.data.message)
                }
            }
        );
    }

    function deletar(id){
        axios({
            method: 'delete',
            url: 'https://rest-simple-email.herokuapp.com/email/del/'+messages.box+'/'+id,
            headers: { 
                'Content-Type': 'application/x-www-form-urlencoded',
                'Authorization': token
                }
        }).then( resp =>{
                console.log(resp.data)
                showBox(messages.box)
            }
        );
        
    }

    function abrir(id){
        axios({
            method: 'put',
            url: 'https://rest-simple-email.herokuapp.com/email/open/'+messages.box+'/'+id,
            headers: { 
                'Content-Type': 'application/x-www-form-urlencoded',
                'Authorization': token
                }
        }).then( resp =>{
                if(resp.data.success == true){
                    console.log(resp.data)
                }else{
                    alert(resp.data.message)
                    App.route = 'login'
                }
            }
        );
        
    }

    function showBox(type){
        axios({
            method: 'get',
            url: 'https://rest-simple-email.herokuapp.com/email/'+type,
            headers: { 
                'Content-Type': 'application/x-www-form-urlencoded',
                'Authorization': token
                }
        }).then( resp =>{
                console.log(resp.data)
                if(resp.data.success == true){
                    messages.list = resp.data.data
                    messages.box = type
                    App.route = 'box'
                    
                }else{
                    alert(resp.data.message)
                    App.route = 'login'
                }
            }
        ).catch(e => console.log(e));
    }

    function send(){
        const params = new URLSearchParams();
        params.append('from', message.from)
        params.append('to', message.to)
        params.append('subject', message.subject)
        params.append('body', message.body)
        params.append('type', message.type)
        axios({
            method: 'put',
            url: 'https://rest-simple-email.herokuapp.com/email/send',
            headers: { 
                'Content-Type': 'application/x-www-form-urlencoded',
                'Authorization': token
                },
            data: params
        }).then( resp =>{
                if(messages.box == "inbox")
                    showBox("outbox")
                else showBox("inbox")
                //messages.list = resp.data
                console.log(resp.data)
            }
        ).catch(e => console.log(e));
    }

    function register(){
        const params = new URLSearchParams();
        params.append('email', user_register.email)
        params.append('password', user_register.password)
        params.append('name', user_register.name)
        
        axios({
            method: 'post',
            url: 'https://rest-simple-email.herokuapp.com/register',
            headers: { 
                'Content-Type': 'application/x-www-form-urlencoded'
                },
            data: params
        }).then( resp =>{
                console.log(resp.data)
                if(resp.data.success == true){
                    alert(resp.data.message + " com sucesso!")
                    gotoLogin()
                }else{
                    alert(resp.data.message)
                }
            }
        );
    }

    function gotoLogin(){
        App.route = 'login'
    }

    function gotoRegister(){
        App.route = 'register'
    }

    function gotostart(){
        App.route = 'start'
    }

    function box(){
        App.route = 'box'
    }
    function gotosend(){
        message.from = user_login.email;
        App.route = 'sender'
    }
    function gotoMessage(){
        App.route = 'message'
    }
    function gotoResponse(){
        App.route = 'response'
        message.to = message.from
        message.from = user_login.email
        message.body = "\n\n==================== RESPONDIDA ================\n\n" + message.body
        message.read = false
        message.type = 'R'
    }
    function gotoFoward(){
        message.read = false
        message.type = 'F'
        message.body = "\n\n================= ENCAMINHADA =====================\n\nDe: " 
            + message.from 
            + "\n  Para: " + message.to
            + "\n  Corpo: \n"
            + message.body
        App.route = 'foward'
    }
</script>
</html>
