body{
    font-family: Verdana;
}
button{
    font-family: Verdana;
}
#login{
    border-radius: 10px;
    margin: auto;
    width: 400px;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bolder;
    box-shadow: 0px 3px 0px 0px rgb(34, 137, 155);
    background-color: rgb(233, 233, 233);
}

#login .field{
    padding: 5px;
    font-family: Verdana;
    color: rgb(78, 189, 209);
}

button{
    margin: 2% auto;
    width: 65%;
    height: 2em;
    font-family: Verdana;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 3px 0px 0px rgb(34, 137, 155);
    background: rgb(78, 189, 209);
    border: 0px solid transparent;
    border-radius: 5px;
}
button:hover{
    color: white;
    background: rgb(87, 165, 179);
    cursor: pointer;
}

#register{
    border-radius: 10px;
    margin: auto;
    width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 3px 0px 0px rgb(34, 137, 155);
    background-color: rgb(233, 233, 233);
    font-weight: bolder;
    color: rgb(34, 137, 155);
}


#start{
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px rgb(34, 137, 155);
}

#title{
    text-align: center;
    width: 100%;
    font-weight: bolder;
    color: rgb(78, 189, 209);
    font-size: 1.6em;
    margin-bottom: 20px;
    text-transform: capitalize;
    border-bottom: 5px dashed white;
    cursor: alias;
}

#start button{
    margin: 2% auto;
    width: 80%;
    height: 4em;
    font-family: Verdana;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 3px 0px 0px rgb(34, 137, 155);
    background: rgb(78, 189, 209);
    border: 0px solid transparent;
    border-radius: 5px;
}
#start button:hover{    
    color: white;
    background: rgb(87, 165, 179);
    cursor: pointer;
}

::after{
    content: '';
    display: block;
    clear: both;
}

#container-messages{
    margin: auto 2%;
    width: 70%;
    /*background-color: #4567aa;*/
    text-align: center;
}
.read{
    background-color: powderblue;
    font-weight: bolder;
}
.msg{
    margin: 10px auto;
    width: 100%;
    padding: 5px;
    background-color: white;
}

.to{
    width: 30%;
    border: 2px solid black;
    box-sizing: border-box;
}

.from{
    width: 80%;
    line-height: 30px;
    box-sizing: border-box;
    color: rgb(34, 137, 155);
}

.sub{
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-weight: lighter;
}

.del{
    width: 30px;
    height: 30px;
    line-height: 25px;
    border: 2px solid red;
    box-sizing: border-box;
    border-radius: 33%;
    float: right;
    color: red;
}

.del:hover{
    cursor: pointer;
    color: white;
    background-color: red;
}

.left{
    float: left;
}

#box{
    border-radius: 10px;
    margin: auto;
    width: 90%;
    padding: 2%;
    text-align: center;
    color: white;
    font-weight: bolder;
    box-shadow: 0px 3px 0px 0px rgb(34, 137, 155);
    background-color: rgb(233, 233, 233);
}

#container-menu{
    padding: 2px;
    width: 20%;
}

.opt-menu {
    margin: 10px auto;
    width: 100%;
    height: 2em;
    font-family: Verdana;
    font-weight: bolder;
    color: white;
    box-shadow: 0px 3px 0px 0px rgb(34, 137, 155);
    background: rgb(78, 189, 209);
    border: 0px solid transparent;
    border-radius: 5px;
}

.opt-menu:hover{
    color: white;
    background: rgb(87, 165, 179);
    cursor: pointer;
}

#message .to{
    width: 100%;
    border: 0px solid white;
}